{% extends 'home_budget/base.html' %}

{% block content %}
    <div class="page-header h1">
        <h2>Lista przychodów</h2>
        <ul>
            {% for przychod in przychody %}
                <div>
                    {{ przychod.nazwa }} - {{ przychod.kwota }} zł
                </div>
            {% endfor %}
        </ul>
    </div>
    <button type="button">
        <a href="{% url 'dodaj_przychod' %}" class="btn btn-primary">Dodaj nowy przychód</a>
    </button>
    <button type="button">
        <a href="{% url 'home' %}" class="btn btn-primary">Wróć</a>
    </button>
    
{% endblock %}