{% extends 'home_budget/base.html' %}

{% block content %}
    <div class="page-header h1">
        <h2>Lista wydatków</h2>
        <ul>
            {% for wydatek in wydatki %}
                <div>
                    {{ wydatek.nazwa }} - {{ wydatek.kwota }}
                </div>
            {% endfor %}
        </ul>
    </div>
    <button type="button">
        <a href="{% url 'dodaj_wydatek' %}" class="btn btn-primary">Dodaj nowy wydatek</a>
    </button>
    <button type="button">
        <a href="{% url 'home' %}" class="btn btn-primary">Wróć</a>
    </button>

{% endblock %}