{% extends 'home_budget/base.html' %}

{% block content %}
    <h2>Zestawienie wydatków i przychodów</h2>
    <div style="display: flex;">
        <div style="flex: 1;">
            <h3>Wydatki</h3>
            <table>
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Kwota</th>
                    </tr>
                </thead>
                <tbody>
                    {% for wydatek in wydatki %}
                    <tr>
                        <td>{{ wydatek.nazwa }}</td>
                        <td>{{ wydatek.kwota }} zł</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div style="flex: 1;">
            <h3>Przychody</h3>
            <table>
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Kwota</th>
                    </tr>
                </thead>
                <tbody>
                    {% for przychod in przychody %}
                    <tr>
                        <td>{{ przychod.nazwa }}</td>
                        <td>{{ przychod.kwota }} zł</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <h3>Podsumowanie</h3>
    <p>Suma przychodów: {{ suma_p|floatformat:2 }} zł</p>
    <p>Suma wydatków: {{ suma_w|floatformat:2 }} zł</p>
    <h3>Bilans</h3>
    <p>{{ bilans|floatformat:2 }} zł</p>
    <button type="button">
        <a href="{% url 'home' %}" class="btn btn-primary">Wróć</a>
    </button>
{% endblock %}